/*body {background-color: red; }
*/
.kocka{
width: 400px;
background-color:yellow;
padding:50px 0;
}
h1{	background-color: red;
	margin: 0 0 50px 0;
}

p{background-color: orange;
padding:40px;
word-break: break-all;
}